nav {
    background-color: $blanco;
    padding-bottom: 0%;

    ul {

        li {
            a:hover {
                opacity: 60%;
                transition: 0.5s;
                color: $negro;
            }

            a {
                background-color: rgb(230, 197, 164);
                padding: 1rem;
                margin-inline-start: 5px;
                border-radius: 1rem;
                text-decoration: none;
                text-align: center;
                margin-bottom: 0.5rem;
            }
        }
    }
}

header {
    grid-area: menuNavegar;
    background-color: rgba(241, 241, 241, 0);

    h2 {
        color: $principal;
        font-size: 1rem;
        text-align: right;
        margin-right: 10rem;
    }
}

h3 {
    opacity: 40%;
}

h3:hover {
    opacity: 100%;
}

h1 {
    color: $principal;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 10rem;
    margin-top: 1rem;
}

label {
    width: 40%;
    font-weight: bold;
    display: inline-block;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 3% 5%;
    border: 1px solid $blanco;
    border-radius: 5%;
    background-color: $blanco;
    margin: 3% 0%;
    display: inline-block;
}

input[type="submit"] {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: 0.2rem solid;
    border-radius: 7%;
    display: block;
    color: $blanco;
    background-color: $principal;
}

input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 10rem;
    border: 1rem solid $blanco;
    border-radius: 3px;
    background-color: $blanco;
    margin: 1rem 0;
    resize: vertical;
    display: block;
}


footer {
    grid-area: piePagina;
    background-color: $blanco;


}