.nav-link {

    margin: 0.3rem;
    font-weight: bold;
    text-align: center;
    background-color: $terciario;
    border-radius: 15%;
}
.formatoCentral {
    display: grid;
    grid-template-areas: "menuNavegar"
        "cuerpo"
        "piePagina";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    color: $principal;
}

.txtInicio {
    grid-area: cuerpo;
    font-size: 1.2rem;
    color: $principal;
    padding: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}
.letragf {
    width: 8%;
}
.logogf {
    width: 12%;
}
.chico {
    width: 35px;
}

.medio {
    width: 50%;
}

.btn:active {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: $principal;
}

.btn {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: $principal;
}
.tarjeta{
    margin-top: 3rem;
}
.foto {
    width: 100%;
    border-radius: 2rem;
}

.centrar {
    text-align: center;
}

.mainSomos {
    display: grid;
    grid-area: cuerpo;
}

.sectionSomos {
    display: grid;
    background-color: $blanco;
    grid-template-areas: "txtSomos   txtSomos    txtSomos"
        "fotoMatriz dirMatriz   txtMatriz"
        "fotoSerena dirSerena   txtSerena"
        "fotoValpo  dirValpo    txtValpo";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 2fr;
}

.txtSomos {
    grid-area: txtSomos;
    background-color: $blanco;
    font-size: 1.2rem;
    color: $principal;
    padding: 1rem;
    text-align: justify;
}

.fotoMatriz {
    grid-area: fotoMatriz;
}

.dirMatriz {
    grid-area: dirMatriz;
    font-size: 0.8rem;
}

.txtMatriz {
    grid-area: txtMatriz;
    font-size: 0.8rem;
}

.fotoSerena {
    grid-area: fotoSerena;
}

.dropdown-menu {
    font-size: small;
    font-weight: bold;
}

.dirSerena {
    grid-area: dirSerena;
    font-size: 0.8rem;
}

.txtSerena {
    grid-area: txtSerena;
    font-size: 0.8rem;
}

.fotoValpo {
    grid-area: fotoValpo;
}

.dirValpo {
    grid-area: dirValpo;
    font-size: 0.8rem;
}

.txtValpo {
    grid-area: txtValpo;
    font-size: 0.8rem;
}

.carousel-inner {
    padding-top: 8rem;
}

.formu {
    width: 80%;
    padding: 3%;
    border-radius: 5%;
    margin: auto;
    background-color:$terciario;
}
.blockquote{
    width: 95%;
    font-size: 95%;
}
.menuFooter {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    text-decoration: none;
    margin-right: 2rem;
}

.btnFooter {
    display: flex;
    border-radius: 5rem;
    justify-content: center;
    display: flex;
    background-color: $blanco;
}

.fotoProd {
    grid-area: doscolprod;
    text-align: center;
}

.btn {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: $principal;
}

.btn:visited {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: $principal;
}

label {
    width: 40%;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
}

form {


    input[type="text"],
    input[type="email"] {
        font-size: 0,4rem;
        width: 75%;
        padding: 3% 5%;
        border: 1px solid $blanco;
        border-radius: 5%;
        background-color: $blanco;
        margin: 3% 0%;
        display: block;
    }

    input[type="submit"] {
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        border: 0.2rem solid;
        border-radius: 7%;
        display: block;
        color: $blanco;
        background-color: $principal ;
    }

    input[type="submit"]:hover {
        cursor: pointer;
    }

    textarea {
        width: 100%;
        height: 10rem;
        border: 1rem solid $blanco;
        border-radius: 3px;
        background-color: $blanco;
        margin: 1rem 0;
        resize: vertical;
        display: block;
    }
}

footer {
    grid-area: piePagina;
    background-color: $blanco;
    bottom: 0;
}
.btnmapafooter {
    width: 3rem;
    height: 10px;
    color: black;
    padding: 0px 5px;
    font-size: smaller;
    cursor: pointer;
    transition: all 0.8s ease;
    position: sticky;
    display: inline;
    outline:auto;
    border-radius: 10px;
    border: 0.1px solid white;
    background: white;
    text-decoration: none;
    list-style-type: none;

}

.btnmapafooter:hover {
    background: black;
    color: white
}